@import "@fontsource/poppins";
.homePage{
    width: 95%;
    padding-right: 5%;
    height: 77vh;
    overflow:auto;
    overflow-x: hidden;
}

.graphicsGlobal{
    display: flex;
    flex-direction: column;
}
.graphicsMacroAndImc{
    display: flex;
    flex-direction: column;
}

