.mainWrapper {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}
.content {
  flex-grow: 1;
  width: 100%;
  padding-right: 2rem;
  padding-left: 2rem;
}
.body{
  align-content: space-between;
  width: 100%;
}
.foot{
  padding: 2rem
}
